/* TODO: Setting up the project starts */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    text-transform: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
    list-style-type: none;
}

body,
html {
    overflow-x: hidden;
}

body {
    background: var(--white);
}

h1, h2, h3, h4, h5, h6,
p {
    line-height: 1.4;
}

p {
    max-width: 50ch;
}

/* FIXME: Setting up the project ends */

/* TODO: Variables start */

:root {
    --green: #0b8947;
    --dark-yellow: #d7b009;
    --yellow: #f1ea0c;
    --white: #fff;
    --global-horizontal-padding: 1.6rem;
    --header-height: 10rem;
    --transparent: rgba(0,0,0,0.1);
    --regular-font-size: 1.7rem;
}

/* FIXME: Variables end */

/* TODO: Global classes start */

.desktop {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.global__padding {
    padding: 0 var(--global-horizontal-padding);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.items__center {
    align-items: center;
}

.content__center {
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.main {
    padding: 2rem var(--global-horizontal-padding);
    padding-top: 5rem;
    margin-top: var(--header-height);
}

.regular__h {
    text-transform: capitalize;
    font-size: 4rem;
    color: var(--green);
}

.regular__p {
    font-size: var(--regular-font-size);
    font-weight: 40
    0;
    color: #444;
}

.button {
    font-weight: 500;
    font-size: var(--regular-font-size);
    text-transform: capitalize;
    border: 1px solid var(--transparent);
    padding: 1.2rem 3rem;
    width: fit-content;
    border-radius: 4rem;
    text-align: center;
    white-space: nowrap;
    background: var(--green);
    color: var(--white);
    transition: all .2s linear;
    cursor: pointer;
}

.button:hover {
    background: var(--dark-yellow);
}

.section {
    padding-bottom: 15rem;
}

.regular__image {
    width: 100%;
}

.none {
    display: none;
}

/* FIXME: Global classes end */

/* TODO: Header starts */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: var(--white);
    justify-content: space-between;
    border-bottom: 1px solid var(--transparent);
    box-shadow: 0 0 10px 2px var(--transparent);
    z-index: 10;
}

.logo {
    height: 6rem;
    border-radius: 100%;
}

.header__bars {
    font-size: 3rem;
    color: var(--green);
}

.header__nav__container {
    background: var(--white);
    top: 0;
    left: -110vw;
    width: 100vw;
    min-height: 100vh;
    transition: all .3s linear;
    padding: 5rem var(--global-horizontal-padding);
    padding-top: 9rem;
    position: absolute;
}

.header__nav__container.active {
    left: 0;
}

.header__nav__close {
    font-size: 3rem;
    color: var(--dark-yellow);
    top: 3.5rem;
    right: 2.5rem;
}

.header__nav {
    flex-direction: column;
    gap: 2rem;
}

.header__nav__item {
    font-size: 2rem;
    font-weight: 700;
    color: var(--green);
    text-transform: capitalize;
    transition: all .2s linear;
}

.header__nav__item.active,
.header__nav__item:hover {
    color: var(--dark-yellow);
}

/* FIXME: Header ends */

/* TODO: Hero section starts */

.hero-container {
    gap: 6rem;
}

.hero__content h1 {
    margin: 0;
}

.hero__content h1,
.hero__content p {
    text-align: center;
}

.hero__content {
    gap: 3rem;
    align-items: center;
}

.hero__products__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.hero__product__container {
    width: calc(50% - 2rem);
}

.hero__product {
    width: 100%;
    aspect-ratio: 1/1.7;
    object-fit: cover;
    border-radius: 1rem;
    position: relative;
    top: 0;
    transition: all .2s linear;
    cursor: grabbing;
}

.hero__product:hover {
    top: -.7rem;
}

/* FIXME: Hero section ends */

/* TODO: Natural section starts */

.natural-container {
    flex-direction: column;
    gap: 3rem;
}

.natural__image {
    border-radius: 1.5rem;
    max-height: 40rem;
    object-fit: cover;
}

.natural__content {
    gap: 2.5rem;
}

.natural__list {
    gap: 1rem;
}

.natural__list__item {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.natural__list__item i {
    color: var(--dark-yellow);
}

.natural__list__item mark {
    font-weight: 500;
    color: #444;
}

/* FIXME: Natural section ends */

/* TODO: Garantee section starts */

.garantee-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.garantee__content {
    gap: 1.5rem;
    border: 2px solid #fcfcec;
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    overflow: hidden;
    background: #fcfcec;
}

.garantee__content h2 {
    font-size: 3rem;
}

.garantee__content p {
    color: #111;
}

.garantee__image {
    border-radius: 1rem;
    min-height: 15rem;
    object-fit: cover;
}

.garantee__img__container {
    overflow: hidden;
    cursor: grabbing;
    border-radius: 1rem;
}

.garantee__img__content {
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    bottom: -110%;
    z-index: 2;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 2rem 1rem;
    transition: all .4s ease-out;
}

.garantee__img__container:hover .garantee__img__content {
    bottom: 0;
}

.garantee__img__content h3,
.garantee__img__content p {
    color: var(--white);
    text-align: center;
}

.garantee__img__content h3 {
    font-size: 2rem;
}

.garantee__img__content p {
    font-size: 1.5rem;
}

.large {
    max-height: 140rem;
    object-fit: cover;
}

/* FIXME: Garantee section ends */

/* TODO: Video section starts */

.video__content {
    gap: 3rem;
}

.video-section-container {
    flex-direction: column;
    gap: 6rem;
}

.video__capa,
.video__container {
    border-radius: 2rem;
}

.video__container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.video__container::before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    border-radius: 2rem;
}

.video__play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 5rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    color: var(--dark-yellow);
    transition: all .2s linear;
}

.video__container:hover .video__play {
    color: var(--green);
}

.video__content .regular__h {
    max-width: 20ch;
}

.video__container__itself {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    cursor: initial;
}

.video__container__itself.active {
    display: flex;
}

.close__video {
    color: var(--white);
    top: 5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
}

.video {
    width: 100%;
    max-width: 50rem;
    border-radius: 1rem;
}

/* FIXME: Video sectin ends */

/* TODO: Media queries start */

@media screen and (min-width: 700px) {

    /* TODO: Hero section adjustments */

    .hero-container {
        gap: 20rem;
    }

    .hero__products__container {
        flex-wrap: nowrap;
    }
    
    .hero__product__container {
        width: calc(25% - 2rem);
        max-width: 25rem;
    }
    
    .hero__product {
        border-radius: 1.5rem;
    }

    .product__up {
        top: -10rem;
    }
    
    .hero__product:hover {
        top: -.7rem;
    }

    .product__up:hover {
        top: -10.7rem;
    }

    /* FIXME: Hero section adjustments end */

    /* TODO: Video section adjustments */

    .video-section-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 6rem;
    }

    .video__capa {
        min-height: 42rem;
    }

    /* FIXME: Video section adjustments end */

}

@media screen and (min-width: 912px) {

    /* TODO: Global classes adjustments */

    .mobile.confirm {
        display: none;
    }

    .desktop {
        display: initial;
    }

    /* FIXME: Global classes adjustments end */

    /* TODO: Header adjustments */

    .header {
        justify-content: center;
    }

    .header__nav__container {
        background: var(--white);
        width: inherit;
        min-height: initial;
        transition: all .3s linear;
        padding: 0;
        padding-top: 0;
        position: initial;
    }

    .header__nav {
        flex-direction: row;
        align-items: center;
        gap: 8rem;
    }

    /* FIXME: Header adjustments end */

    /* TODO: Natural section adjustments */

    .natural__image {
        max-height: initial;
        height: 48rem;
    }

    .natural-container {
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }

    .natural-section {
        display: flex;
        justify-content: center;
    }

    /* FIXME: Natural section adjustments end */

    /* TODO: Garantee adjustments */

    .garantee-container {
        display: grid;
        justify-content: center;
        grid-template: repeat(5, 27rem) / repeat(2, 43rem);
        grid-template-areas: "garanteecontent garanteecontent"
                             "first           first"
                             "second          third"
                             "second          third"
                             "fourth          fourth";
    }

    .garantee__content {
        grid-area: garanteecontent;
    }

    .garantee__img__first {
        grid-area: first;
    }

    .garantee__img__second {
        grid-area: second;
    }

    .garantee__img__third {
        grid-area: fourth;
    }

    .garantee__img__fourth {
        grid-area: third;
    }

    .garantee__image {
        height: 100%;
        object-fit: initial;
    }

    /* FIXME: Garantee adjustments end */

    /* TODO: Video section adjustments */

    .video-section-container {
        gap: 8rem;
    }

    .video {
        max-width: 60rem;
    }

    .close__video {
        right: 4rem;
    }

    /* FIXME: Video section adjustments end */
    
}

@media screen and (min-width: 1280px) {

    /* TODO: Natural section adjustments */

    .natural-container {
        gap: 8rem;
    }

    /* FIXME: Natural section adjustments end */

    /* TODO: Garantee adjustments */

    .garantee-container {
        display: grid;
        justify-content: center;
        gap: 2rem;
        grid-template: repeat(12, 6rem) / repeat(8, 13rem);
        grid-template-areas: "contentgarantee  contentgarantee contentgarantee first  first  image1 image1 image1"
                              "contentgarantee contentgarantee contentgarantee first  first  image1 image1 image1"
                              "contentgarantee contentgarantee contentgarantee first  first  image1 image1 image1"
                              "contentgarantee contentgarantee contentgarantee first  first  image1 image1 image1"
                              "image2          image2          image2          first  first  image1 image1 image1"
                              "image2          image2          image2          image3 image3 image3 image3 image3"
                              "image2          image2          image2          image3 image3 image3 image3 image3"
                              "image2          image2          image2          image3 image3 image3 image3 image3"
                              "image2          image2          image2          image3 image3 image3 image3 image3"
                              "image2          image2          image2          image3 image3 image3 image3 image3"
                              "image2          image2          image2          image3 image3 image3 image3 image3"
                              "image2          image2          image2          image3 image3 image3 image3 image3";
                              
    }

    .garantee__content {
        grid-area: contentgarantee;
    }

    .garantee__img__first {
        grid-area: image1;
    }

    .garantee__img__second {
        grid-area: first;
    }

    .garantee__img__third {
        grid-area: image3;
    }

    .garantee__img__fourth {
        grid-area: image2;
    }
 
    /* FIXME: Garantee adjustments end */

    .close__video {
        right: 8rem;
    }

    /* FIXME: Video section adjustments end */
    
}

/* FIXME: Media queries end */